.card {
  position: relative;
  background: #fff;
  width: 190px;
  height: 265px;
  border-radius: 8px;
  cursor: pointer;
  transition: all 120ms;
  overflow: hidden;
  box-shadow: 0px 1px 13px rgba(0,0,0,0.1);
}

.card:active {
  transform: scale(.95);
}

.card::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  box-shadow: inset 0px 0px 25px 5px rgba(255, 255, 255, .5);
  z-index: 1;
}

.card::after {
  content: "Add to Cart";
  position: absolute;
  bottom: -50%;
  left: 0;
  padding-left: 15px;
  background: #181818;
  width: 100%;
  height: 60px;
  color: #fff;
  line-height: 50px;
  text-transform: uppercase;
  z-index: 2;
  transition: all .2s ease-in;
}

.card:hover::after {
  bottom: 0;
}

.card:active::after {
  content: "Adding !";
  height: 65px;
}

.image {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 100px;
  height: auto;
  filter: drop-shadow(3px 3px 5px #18181815);
  transform: translate(-50%, -50%);
  animation: shoes 1s ease infinite alternate;
  transition: all .5s ease-in;
}

@keyframes shoes {
  from {
    top: 48%;
  }

  to {
    top: 52%;
  }
}

.card:hover .image {
  /* top: 20%;
  left: 30%; */
  width: 220px;
  height: auto;
  animation: none;
  transform: rotate(15deg) translate(-35%, -25%);
}

.text {
  position: absolute;
  top: 15%;
  left: -80%;
  color: #181818;
  transition: all .3s ease-in;
}

.text span {
  font-size: 25px;
  font-weight: 400;
  margin-bottom: 5px;
}

.text p {
  font-size: 18px;
  font-weight: bold;
}

.card:hover .text {
  top: 15%;
  left: 5%;
}

.fil-shoes2 {
  fill: #a59573
}

.hovering {
  position: fixed;
  top: 20px;
  left: 20px;
  width: 50px;
  height: 50px;
  z-index: 9;
  animation: hover 1s ease-in-out infinite alternate;
}


.hovering:hover {
  transform: scale(1.2); /* add a scale effect on hover */
}

@keyframes hover {
  from {
    transform: translate(0, 0);
  }
  to {
    transform: translate(0, 10px);
  }
}



nav {
  display: flex;
  justify-content: center;
}

nav ul {
  display: flex;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

nav li {
  margin: 0 1em;
}

nav a {
  text-decoration: none;
  color: rgb(255, 255, 255);
}


body,
html{
      margin: 0;
      padding: 0;
      height: 100%;
}

/* Hide scrollbar for Chrome, Safari and Opera */
body::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
body {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}

svg {
      display: block;
      width: 100%;
      height: 100vh;
      position: fixed;
      top: 0;
      left: 0;
}
  
.scrollElement {
      position: absolute;
      height: 6000px;
      width: 100px;
      top: 0;
      z-index: 0;
}

  .btn {
      position: fixed;
      bottom: 5%;
      right: 0px;
      transform: translateX(-50%);
      border: 1px solid #fff;
      border-radius: 5px;
      font-size: 0.9rem;
      padding: 0.5rem 0.7em;
      background-color: transparent;
      color: #ffffff;
      font-family: Verdana, Geneva, Tahoma, sans-serif;
      -webkit-font-smoothing: antialiased;
      cursor: pointer;
      transition: all .3s;
      z-index: 11;
  }

  .btn_works {
      left: 100px;
      right: unset;
      text-decoration: none;
  }

  .btn:hover {
      background: #ffffff;
      color: #1B1734;
  }


  *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: #10131c;
}

.navigation{
    position: relative;
    width: 70px;
    height: 70px;
    background: #212532;
    border-radius: 10px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: .5s;
    transition-delay: .8s;
}
.navigation.active{
    width: 200px;
    height: 200px;
    transition-delay: 0s;
}

.navigation span{
    position: absolute;
    width: 7px;
    height: 7px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #fff;
    border-radius: 50%;
    transform: translate(calc(12px * var(--x)), calc(12px * var(--y)));
    transition: transform .5s, width .5s, height .5s, background .5s;
    transition-delay: calc(.1s * var(--i));
}
.navigation.active span{
    width: 45px;
    height: 45px;
    background: #333849;
    transform: translate(calc(60px * var(--x)), calc(60px * var(--y)));
}

.navigation span ion-icon{
    transition: .5s;
    font-size: 0em;
}

.navigation.active span ion-icon{
    font-size: 1.35em;
    color: #fff;
}
.navigation.active span:hover ion-icon{
    color: #2301ff;
    filter: drop-shadow(0 0 2px #2301ff) 
     drop-shadow(0 0 5px #2301ff)
     drop-shadow(0 0 15px #2301ff);
}